* {
    box-sizing: border-box;
}

.anchor {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 101;

    .icon {
        margin-top: -36px;
    }
    
    .popout {
        width: 265px;
        margin: 0px 12px;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid var(--gray-4);
        background-color: var(--color-panel-solid);
        box-shadow: var(--shadow-4);
    }
}

.blocker {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    font-size: 6vw;
    font-weight: bold;
    opacity: 0.3;
    text-shadow: 0px 0px 4px #ffffff;
    cursor: default;
}
