.pointer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 46px 46px 46px 0px;
    border: 1px solid var(--accent-4);
    background: var(--accent-9);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 61, 0.05), 0px 2px 1px -1px rgba(0, 0, 61, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
    width: 36px;
    height: 36px;
    color: white;
}

.editor {
    textarea {
        display: block;
        font-family: inherit;
        font-size: 14px;
        border: none;
        width: 100%;
        padding: 12px 10px;
        resize: none;
        outline: none;
        background-color: transparent;
        color: var(--gray-12);
    }
}